<!-- <p>project-list works!</p> -->

<div class="container">
        <h2>LIST OF PROJECTS</h2>
        
        <table class="table">
          <thead>
            <tr>
              <th>ProjectName</th>
              <th>ProjectDescription</th>
              <th>DueDate</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Default</td>
              <td>Defaultson</td>
              <td>may</td>
            </tr>      
            <tr class="table-primary">
              <td>Primary</td>
              <td>Joe</td>
              <td>march</td>
            </tr>
            <tr class="table-success">
              <td>Success</td>
              <td>Doe</td>
              <td>april</td>
            </tr>
          </tbody>
        </table>
      </div>
