<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">New Products</h1>
</div>

<h2>Add New Product</h2>
<div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
        </div>
        <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" formControlName="address">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-primary">Add</button>
            <button class="btn btn-lg btn-secondary" type="reset" (click)="onReset()">Reset</button>
        </div>
    </form>
</div>

